<div class="column">
  <div class="card">
      <div class="card-content">
        <p class="title">
          <%= customer.name %>
        </p>
      </div>
      <% if customer.image.present? %>
        <div class="card-image">
        <figure class="image">
          <%= image_tag customer.image %>
        </figure>
      </div>
    <% end %>
    <footer class="card-footer">
      <p class="card-footer-item">
        <%# <%= if customer.email.present? %>
          <strong>Email: </strong><%= customer.email %>
        <%# <% end %>
        <%# <%= if customer.phone.present? %>
        <%# <% end %>
      </p>
      <p class="card-footer-item">
          <%= customer.phone %>
        <%# <% end %>
      </p>
    </footer>
  </div>
</div>